/* PATCHED BOOT UI */
body.booting #mainApp {
  display: none !important;
}
body.booting #loginScreen {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

/* FIX DARK MODE LABEL */
#umThemeToggle > span {
  font-size: inherit !important;
}
