/* ===== FIX FINAL: remove footer lateral do accountModal ===== */

#accountModal .acc-modal-footer {
  display: none !important;
}

#accountModal .acc-modal-sheet {
  display: block;
  width: 100%;
  max-width: 100%;
}

#accountModal:not(.open){
  display: none !important;
}
